@model List<Department>
<h2>All Departments</h2>
<a href="/Department/Create" class="btn btn-outline-primary">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
           @*  <th scope="col">Description</th> *@
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
               @*  <td>@item.Description</td> *@
                <td>
                    <a href="/Department/Details/@item.Id">Details</a>
                    <a href="/Department/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>